<!doctype html>
<html>
  <head>
    <title>mabako / {{ page.title }}</title>
    
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>~mabako</h1>
        <p>random german student with equally random knowledge of c++, java, latex, lua, php, ruby on rails, sql</p>
        <p>contact: <a href="mailto:mabako&#x40;gmail.com">email</a></p>
        <p>me on: <a href="https://github.com/mabako">github</p>
        <p>uni: <a href="http://www.fh-zwickau.de">WHZ</a></p>
      </header>
      <section>
{{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages<br>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>
  </body>
</html>
